* {margin: 0; padding: 0;}

.tree ul {
    padding-top: 20px; position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	width:100%;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/* width:100%; */
	position: relative;
	left: 5%;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
} 

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

#demsportal {
    text-align: center;
    font: normal normal medium 13px/16px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 15px;
  }
  #rmg, #profilefeeding, #profileupdating, #profiledeleting {
	text-align: center;
	font: normal normal medium 13px/16px Montserrat;
	letter-spacing: 0px;
	opacity: 1;
	background: #FEE9B8 0% 0% no-repeat padding-box;
	border-radius: 15px;
  }
  #sales, #flatsearch, #advancedsearch {
	text-align: center;
	font: normal normal medium 13px/16px Montserrat;
	letter-spacing: 0px;
	opacity: 1;
	background: #B8DEFE 0% 0% no-repeat padding-box;
	border-radius: 15px; 
  }
  #admin, #managingnotification, #managingaccess, #notificationstream{
	text-align: center;
	font: normal normal medium 13px/16px Montserrat;
	letter-spacing: 0px;
	opacity: 1;
	background: #BAFFD5 0% 0% no-repeat padding-box;
	border-radius: 15px;
  }
  #notificationstream{
	text-align: center;
	font: normal normal medium 13px/16px Montserrat;
	letter-spacing: 0px;
	opacity: 1;
	background: #BAFFD5 0% 0% no-repeat padding-box;
	border-radius: 30px;
	width:150px;
  }


  #container {
	align-content: center;
	height: 300px;
	opacity: 1;
  }
  #sitemapheader {
	/* top: 61px; */
	left: 0px;
	/* width: 1920px;
	height: 189px; */
	background: #F5F5F5 0% 0% no-repeat padding-box;
	opacity: 0.61;
  }
  
  #sitemapheadertext {
	/* top: 111px; */
	left: 335px;
	/* width: 1297px;
	height: 89px; */
	text-align: justify;
	font: normal normal 300 16px/22px Montserrat;
	letter-spacing: 0px;
	color: #707070;
	opacity: 1;
	padding: 15px;
  }



